/* @import './Home.module.css';   */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&display=swap');
/* @import 'tailwindcss/tailwind.css'; */


@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.details li {
    margin-bottom: 10px;
    font-size: 0.92rem;
}


table thead {
    border-bottom: 1px solid #CCCCCC;
}

table thead tr th {
    padding-bottom: 10px;
}

table tr td {
    padding: 10px 0px;
}

table tbody tr {
    border-bottom: 1px solid #CCCCCC;  
}

.details-wrap {
    border-left: 0.5px solid rgb(59, 130, 246);;
}