/* @import './Home.module.css';   */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&display=swap");
/* @import 'tailwindcss/tailwind.css'; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.details li {
  margin-bottom: 20px;
  font-size: 0.92rem;
  line-height: 25px;
}

.details-wrap {
  border-left: 0.5px solid rgba(0, 141, 255, 0.12);
}

.formErrors {
    color: red;
    font-size: 0.75rem;
    margin-top: 5px;
}

p.msgSuccess {
    color: green;
    font-size: 0.9rem;
}

p.msgError {
    color: red;
    font-size: 0.9rem;
}
